.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}
.results {
    style : "margin-top: 10px";
    color: "white";
}
html,
body {
  height: 100%;
  background-color: black;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.jumbotron{
    background-color: #3F729B;
}

.row {
  margin: 10px 6% 10px 6%;
}

form {
    background-color: white;
    padding: 2%;
}

input[type=button] {
    margin: 3% 0;
}

.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

h4 {
  padding-bottom: 30px;
  color: #B8BDC1;
}

.glyphicon {
  font-size: 5em;
  color: #9CA3A9;
}

.glyphicon-check {
    font-size: 2em;
    margin-top: 5px;
    display: block;
    visibility: hidden;
}

h2 {
  color: #68757E;
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
}

#upload-input {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 450px;
  }
}